@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Mukta:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');



*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "DM Sans", sans-serif;
}

/* hide scrollbar for chrome, opera, suffari */

/* hide scrollbar for firefox. */
html{
    scrollbar-width: none;
} 
/* hide scrollbar for edge, IE. */
body{
    -ms-overflow-style: none;
}

/*custom scrollbar 
/* 
::-webkit-scrollbar{
    width: 10px;
    background-color: transparent;
}
::-webkit-scrollbar-thumb{
    border-radius: 30px;
    background: -webkit-gradient(linear, left top, left bottom, from(#793FDF), to(#7091F5));
    box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.25), inset -2px -2px -2px rgba(0, 0, 0, 0.25);
} */
.container{
    max-width: 1505px;
    margin: auto;
}
.header{
    width: 100%;
    padding: 12px 0;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
}

.nav-link{
    display: flex;
    gap: 20px;
    list-style: none;
    text-decoration: none;
}

.nav-link>li>a{
    text-decoration: none;
    font-size: 16px;
    color: #995E36;
    text-transform: uppercase;
    font-weight: 500;
    padding: 16px 10px;
}

/* banner style */
.banner {
    position: relative;
    overflow: hidden;
  }
  
  .banner-img {
    width: 100%;
    animation: fadeInSlideDown 1s ease-out; 
  }
  
  /* Keyframes for the banner animation */
  @keyframes fadeInSlideDown {
    from {
      opacity: 0;
      transform: translateY(-10%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  

  .about-us{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 60px 0;
  }

  .about-project{
    flex: 1;
    width: 100%;
    animation: SlideLeft 1s ease-out; 

  }
  .about-text{
    width: 100%;
    flex: 1;
    animation: SlideRight 1s ease-out;
  }
  .about-us>div>p{
    margin-bottom: 20px;
  }
  .section-title{
    margin-bottom: 30px;
  }
  .section-title>h3{
    font-size: 18px;
    text-transform: uppercase;
    color: rgb(84, 83, 83);
  }
  .section-title>h4{
    font-family: "Lora", serif;
    font-size: 38px;
    color: rgb(153, 94, 54);
    margin: 15px 0 0;
    font-weight: 700;
  }

  @keyframes SlideLeft {
    from {
      opacity: 0;
      transform: translateX(-30%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes SlideRight {
    from {
      opacity: 0;
      transform: translateX(30%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }


  /* Highlight section style */
  .highlights{
    background-color: #EDE2D4;
    text-align: center;
    padding: 100px 0;
    
  }

  .highlights>.container>.section-title>h4{
width: 60%;
margin: 15px auto;
  }
.highlights-text{
    display: flex;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    animation: SlideFromBottom 2s ease-out;

}
  .highlights-text-title{
    font-size: 16px;
    margin: 20px 0;
    color: rgb(55, 55, 55);
    font-weight: 500;
  }
  .highlights-text-description{
    color: rgb(84, 83, 83);
    width: 80%;
    margin: auto;
  }
  .fa-solid{
    font-size: 30px;
    color: #995E36;
  }
  .highlights>div>.section-title{
    animation: SlideFromTop 1s ease-out;
  }

  @keyframes SlideFromBottom {
    from {
      opacity: 0;
      transform: translateY(50%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes SlideFromTop {
    from {
      opacity: 0;
      transform: translateY(-50%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }


  /* amenities style */
  .amenities{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0; 
  background-image: url(https://saraswatisquare.in/media/images/amenities/amenities-bg-1.webp);
  position: relative;
}

.amenities::before{
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0.6;
  }
  .amenities-container{
    position: relative;
  }
.amenities>div>.section-title>h3,.amenities>div>.section-title>h4{
    color: white;
    text-align: center;
}
.amenities-btn{
  margin: 0 0 40px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.amenities-content{
  text-align: center;
  color: white;
  animation: SlideFromBottom 1s ease-out;
}
.amenities-container .section-title{
  animation: SlideFromTop 1s ease-out;
}
.amenities-btn>button{
  padding: 15px 20px;
  background-color: white;
  font-size: 16px;
  font-family: "Lora", serif;
  border: 1px solid white;
  font-weight: 500;
  cursor: pointer;
}
#amenities-btn-transition{
  position: relative;
    display: block;
    line-height: 1;
    border: 1px solid #fff;
    text-align: center;
    color: white;
    background: transparent;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
    cursor: pointer;

}
#amenities-btn-transition:hover{
background-color: white;
color: black;
}
.amenities-content>h3{
  font-size: 16px;
  font-weight: 400;
  margin: 0 0 60px;
  
}
.amenities-tabs-items{
  display: flex;
  gap: 60px;
  justify-content: center;
}

.amenities-tabs-items-inner p {
  text-align: left;
  position: relative;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 400;
}
.amenities-tabs-items-inner p::before {
  position: absolute;
  content: "";
  background-image: url(https://saraswatisquare.in/media/images/amenities/check.svg);
  height: 15px;
  width: 15px;
  left: -25px;
  top: 5px;
}



/* Gallery */