@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Mukta:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');



*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "DM Sans", sans-serif;
}

/* hide scrollbar for chrome, opera, suffari */

/* hide scrollbar for firefox. */
html{
    scrollbar-width: none;
} 
/* hide scrollbar for edge, IE. */
body{
    -ms-overflow-style: none;
}

/*custom scrollbar 
/* 
::-webkit-scrollbar{
    width: 10px;
    background-color: transparent;
}
::-webkit-scrollbar-thumb{
    border-radius: 30px;
    background: -webkit-gradient(linear, left top, left bottom, from(#793FDF), to(#7091F5));
    box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.25), inset -2px -2px -2px rgba(0, 0, 0, 0.25);
} */
.container{
    max-width: 1505px;
    margin: auto;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 104px;
}

.nav-link{
    display: flex;
    gap: 20px;
    list-style: none;
    text-decoration: none;
}

.nav-link>li>a{
    text-decoration: none;
    font-size: 16px;
    color: #995E36;
    text-transform: uppercase;
    font-weight: 500;
    padding: 16px 10px;
}
.banner {
    position: relative;
    overflow: hidden;
  }
  
  .banner-img {
    width: 100%;
    animation: fadeInSlideDown 1s ease-out; 
  }
  
  /* Keyframes for the banner animation */
  @keyframes fadeInSlideDown {
    from {
      opacity: 0;
      transform: translateY(-10%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  

  .about-us{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 60px 0;
  }

  .about-project{
    flex: 1;
    width: 100%;
    animation: SlideLeft 1s ease-out; 

  }
  .about-text{
    width: 100%;
    flex: 1;
    animation: SlideRight 1s ease-out;
  }
  .about-us>div>p{
    margin-bottom: 20px;
  }
  .section-title{
    margin-bottom: 30px;
  }
  .section-title>h3{
    font-size: 18px;
    text-transform: uppercase;
    color: rgb(84, 83, 83);
  }
  .section-title>h4{
    font-family: "Lora", serif;
    font-size: 38px;
    color: rgb(153, 94, 54);
    margin: 15px 0 0;
    font-weight: 700;
  }

  @keyframes SlideLeft {
    from {
      opacity: 0;
      transform: translateX(-30%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes SlideRight {
    from {
      opacity: 0;
      transform: translateX(30%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }


  /* Highlight section style */
  .highlights{
    background-color: #EDE2D4;
    text-align: center;
    padding: 100px 0;
    
  }

  .highlights>.container>.section-title>h4{
width: 60%;
margin: 15px auto;
  }
.highlights-text{
    display: flex;
    margin-top: 50px;
    align-items: center;
    justify-content: space-around;

}
  .highlights-text-title{
    font-size: 16px;
    margin: 20px 0;
    color: rgb(55, 55, 55);
    font-weight: 500;
  }
  .highlights-text-description{
    color: rgb(84, 83, 83);
    width: 80%;
    margin: auto;
  }
  .fa-solid{
    font-size: 30px;
    color: #995E36;
  }